#pokemonStorage
{
    border-radius: 8% / 17%;
    display: grid;
    grid-template-columns:200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    height: 620px;
    width: 920px;
    margin: auto;
    background-color: rgb(160,80,80);
    position: absolute;
    left:20px;
    box-shadow: 2px 2px 2px 2px rgb(200,200,200);
}

#currentTeam
{
    border-radius: 15%;
    display: grid;
    grid-template-columns:200px 200px;
    grid-template-rows: 200px 200px 200px;
    height: 620px;
    width:460px;
    margin: auto;
    background-color: rgb(160,80,80);
    position: absolute;
    right:20px;
    box-shadow: 2px 2px 2px 2px rgb(200,200,200);
}

.data{
    text-align: center;
    background-color: rgb(100,50,50);
    width: 180px;
    height: 180px;
    border-radius: 15%;
    margin: 10px;
    position: relative;
    left: 15%;
    box-shadow: 2px 2px 2px 2px rgb(120,60,60);
    color: white;
}

#pokemons
{
    width: 100%;
    display: grid;
    grid-template-columns: 1200px 600px;
}

img
{
    width:180px;
    height: 180px;
    z-index: 1;
    position: relative;
    bottom: 126px;
    border-radius: 15%;
}

img:hover
{
    opacity: 0.1;
}

.pok
{
    font-size: 28px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.stats
{
    font-size: 16px;
}

body
{
    overflow: hidden;
}

@media only screen and (max-width: 1450px)
{
    #pokemonStorage
    {
        grid-template-columns: 180px 180px 180px 180px;
        width: 800px;
        left: 15px;
    }

    .pok
    {
        font-size: 24px;
    }

    .stats
    {
        font-size: 14px;
    }

    #currentTeam
    {
        grid-template-columns: 180px 180px;
        width:400px;
        right: 15px;
    }

    .data
    {
        width: 170px;
        height: 170px;
        margin:8.5px;
    }

    img
    {   
        width:170px;
        height: 170px;
        position: relative;
        bottom: 110px;
    }

    #pokemons
    {
        grid-template-columns: 900px 450px;
    }
}

@media only screen and (max-width: 1230px)
{
        #pokemonStorage
    {
        grid-template-columns: 150px 150px 150px 150px;
        width: 650px;
        left: 10px;
    }

    #currentTeam
    {
        grid-template-columns: 150px 150px;
        width:350px;
        right: 10px;
    }

    .pok
    {
        font-size: 20px;
    }

    .stats
    {
        font-size: 12px;
    }

    .data
    {
        width: 150px;
        height: 150px;
        margin:7.5px;
    }

    img
    {   
        width: 150px;
        height: 150px;
        position: relative;
        bottom: 93px;
    }

    #pokemons
    {
        grid-template-columns: 725px 400px;
    }
}

@media only screen and (max-width: 1080px)
{
    #pokemonStorage
    {
        grid-template-columns: 130px 130px 130px 130px;
        width: 570px;
        left: 7.5px;
    }

    #currentTeam
    {
        grid-template-columns: 130px 130px;
        width: 300px;
        right: 7.5px;
    }

    .pok
    {
        font-size: 18px;
    }

    .stats
    {
        font-size: 12px;
    }

    .data
    {
        width: 130px;
        height: 130px;
        margin:6.5px;
    }

    img
    {   
        width: 130px;
        height: 130px;
        position: relative;
        bottom: 90px;
    }

    #pokemons
    {
        grid-template-columns: 650px 325px;
    }
}

@media only screen and (max-width: 900px)
{
    #pokemonStorage
    {
        grid-template-columns: 100px 100px 100px 100px;
        width: 460px;
        left: 5px;
        border-radius: 0px;
    }

    #currentTeam
    {
        grid-template-columns: 100px 100px;
        width: 230px;
        right: 5px;
        border-radius: 0px;
    }

    .pok
    {
        font-size: 15px;
    }

    .stats
    {
        font-size: 9px;
    }

    .data
    {
        width: 100px;
        height: 100px;
        margin: 5px;
        border-radius: 0px;
    }

    img
    {   
        width: 100px;
        height: 100px;
        position: relative;
        bottom: 66px;
        border-radius: 0px;
    }

    #pokemons
    {
        grid-template-columns: 520px 280px;
    }
}

@media only screen and (max-width: 700px)
{
    #pokemonStorage
    {
        grid-template-columns: 80px 80px 80px 80px;
        width: 370px;
        left: 4px;
        border-radius: 0px;
        height: 500px;
    }

    #currentTeam
    {
        grid-template-columns: 80px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        width: 120px;
        height: 500px;
        right: 4px;
        border-radius: 0px;
    }

    .pok
    {
        font-size: 13px;
    }

    .stats
    {
        font-size: 7.5px;
    }

    .data
    {
        width: 80px;
        height: 80px;
        margin: 0px;
        border-radius: 0px;
    }

    img
    {   
        width: 80px;
        height: 80px;
        position: relative;
        bottom: 56px;
        border-radius: 0px;
    }

    #pokemons
    {
        grid-template-columns: 450px 210px;
    }
}

@media only screen and (max-width: 570px)
{
    #pokemonStorage
    {
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 80px 80px 80px 80px;
        width: 340px;
        left: 2px;
        border-radius: 0px;
    }

    #currentTeam
    {
        grid-template-columns: 80px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        width: 120px;
        right: 2px;
        border-radius: 0px;
    }

    .pok
    {
        font-size: 12px;
    }

    .stats
    {
        font-size: 6px;
    }

    .data
    {
        width: 80px;
        height: 80px;
        border-radius: 0px;
    }

    img
    {   
        width: 80px;
        height: 80px;
        position: relative;
        bottom: 50px;
        border-radius: 0px;
    }

    #pokemons
    {
        grid-template-columns: 350px 180px;
    }
}

@media only screen and (max-width: 470px)
{
    #pokemonStorage
    {
        grid-template-columns: 80px 80px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        width: 220px;
        left: 2px;
        border-radius: 0px;
    }

    #currentTeam
    {
        grid-template-columns: 80px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        width: 110px;
        right: 2px;
        border-radius: 0px;
    }

    .pok
    {
        font-size: 10px;
    }

    .stats
    {
        font-size: 5px;
    }

    .data
    {
        width: 80px;
        height: 80px;
        border-radius: 0px;
    }

    img
    {   
        width: 80px;
        height: 80px;
        position: relative;
        bottom: 35px;
        border-radius: 0px;
    }

    #pokemons
    {
        grid-template-columns: 300px 150px;
    }
}